# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
/dist

# testing
/coverage

# misc
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# deployment
.vercel

# editors
.idea/
.vscode/
*.swp
